body
{
  margin: 0;
  padding: 0;   
}

#stage img
{
    box-sizing: content-box;

}
#stage
{
    box-sizing: content-box;
    top: 10%;
    bottom: 200px;
    position: absolute;
    background: url(bg.jpg);
    height: 358px;
    width: 6900px;
    background-position: 0 0;
    background-repeat:repeat-x; 
    z-index: 1;
}

#josh
{
    height: 250px;
    padding-left: 50px;
    position: absolute;
}

#lightMonster
{
    left: 1000px;
    bottom: 100px;
    height: 250px;
    position: absolute;
}

#purpleMonster
{
    height: 150px;
    bottom: 10px;
    left: 2200px;
    position: absolute;
}

#dragon
{
    height: 150px;
    bottom: 200px;
    left: 3300px;
    position: absolute;
}

#redDragon
{
    height: 250px;
    bottom: 0px;
    left: 4600px;
    position: absolute;
}

#final
{
    height: 250px;
    width: 200px;
    bottom: 10px;
    left: 6100px;
    position: absolute
}

.conv
{
  height: 50px;
  width:70px;
  position: relative;
}


#conversation {
    width: 250px;
    height: 100px;
    border-style: solid;
    border-radius: 25px;
    border-color:#663300;
    border-width: 1px;
    padding-left: 5px;
    opacity: 1;
    color:#663300;
    overflow-y: scroll;
    position: absolute;
    -webkit-transition: opacity 0.5s;
    opacity: 0;
    transition: 0.5;
    z-index:1;
}

#conversation.show {
    -webkit-transition: opacity 0.5s;
    transition: 0.5;
    opacity: 1;
}

.quiz
{
    position: absolute;
    border-radius: 25px;
    margin: 0 auto;
    top: 10%;
    left: 850px;
    z-index: 2;
    background-color:gray;
    border: 10;
}





